<mat-toolbar color="primary">
    <span>MTG Look-up</span>

    <!-- This fills the remaining space of the current row -->
    <!-- <span class="example-fill-remaining-space"></span> -->

    <button mat-button>Click me!</button>
    <button mat-button>Click me!</button>
    <button mat-button>Click me!</button>

    <span class="example-fill-remaining-space"></span>
    <button mat-button>Linkedin</button>
    <button mat-button>Click me!</button>
    <button mat-button>Click me!</button>
    

</mat-toolbar>

<button mat-button>Click me!</button>
<span matTooltip="Tooltip!">I have a tooltip</span>