<div class="container">
    <div class="search-bar">
        {{card | json}}
        <search-bar></search-bar>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns details-section">
                <div class="column is-5 has-text-centered">
                    <h3 class="title is-3">
                        {{card.name}}
                    </h3>
                    <figure>
                        <div *ngIf="card.imageUrl">
                            <img src="{{card.imageUrl}}">
                        </div>
                        <div *ngIf="!card.imageUrl">
                            <span>No image available.</span>
                        </div>
                    </figure>
                </div>
                <div class="column">
                    <details-tabs></details-tabs>
                </div>
            </div>
        </div>
    </div>
</div>