<div class="container">
    <div class="search-bar">
        {{card | json}}
        <search-bar></search-bar>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns name-header has-text-centered">
                <div class="column">
                    <h3 class="title is-3">
                        {{card.name}}
                    </h3>
                </div>
            </div>
            <div class="columns details-section">
                <div class="column is-5 has-text-centered">
                    <figure class="">
                        <div *ngIf="card.imageUrl">
                            <img src="{{card.imageUrl}}">
                        </div>
                        <div *ngIf="!card.imageUrl">
                            <span>No image available.</span>
                        </div>
                    </figure>
                </div>
                <div class="column">
                    <details-tabs></details-tabs>
                    <div class="line-break">
                        <h2 class="subtitle is-5">
                            {{card.text}}
                        </h2>
                    </div>
                    <div class="subtitle is-6">
                        {{card.flavor}}
                    </div>
                    <div class="columns has-text-centered">
                        <div class="column desc-footer desc-footer-left">
                            <div>
                                Mana Cost
                            </div>
                            <div>
                                <span>{{card.manaCost}}</span>
                            </div>
                        </div>
                        <div class="column desc-footer desc-footer-left">
                            <div>
                                <span>Type</span>
                            </div>
                            <div>
                                <span>{{card.type}}</span>
                            </div>
                        </div>
                        <div class="column desc-footer ">
                            <div>
                                <span>Rarity</span>
                            </div>
                            <div>
                                <span>{{card.rarity}}</span>
                            </div>
                        </div>

                        <!-- Checks to see if its a planeswalker -->
                        <div *ngIf="card.types == 'Planeswalker'" class="column desc-footer">
                            <div>
                                <span>
                                    Loyalty
                                </span>
                            </div>
                            <div>
                                <span>{{card.loyalty}}</span>
                            </div>
                        </div>
                        <!-- Checks to see if its a creature -->
                        <div *ngIf="card.types == 'Creature'" class="column desc-footer ">
                            <div>
                                <span>Power</span>
                            </div>
                            <div>
                                <span>{{card.power}}</span>
                            </div>
                        </div>
                        <div *ngIf="card.types == 'Creature'" class="column desc-footer ">
                            <div>
                                <span>Toughness</span>
                            </div>
                            <div>
                                <span>{{card.toughness}}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p class="has-text-centered ">
                        <!-- <a class="button is-medium is-info is-outlined ">
                                    Learn more
                                </a> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>