<div class="tyn-home">
    <form [formGroup]="form">
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="name" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of x" [value]="option.name">
                    {{ option.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- <input formControlName="name" placeholder="Enter card name..."> -->
        <button type="submit" (click)="getCards()">Search</button>
    </form>
    <div *ngIf="x">
        <!-- <span>{{x | json}}</span> -->
        <div *ngFor="let cards of x; let i = index">
            <span>{{i}}</span>
            <a (click)="getCard(cards)">{{cards.name}} | {{cards.setName}}</a>
        </div>
        <!-- <img src="{{x.imageUrl}}"> -->
    </div>
    <div *ngIf="image">
        <img src="{{image}}">
    </div>
</div>