<div ng-cloak>
    <mat-tab-group mat-dynamic-height mat-border-bottom>
        <mat-tab label="Details">
            <div class="column">
                <div class="line-break">
                    <h2 class="subtitle is-5">
                        {{card.text}}
                    </h2>
                </div>
                <div class="subtitle is-6">
                    {{card.flavor}}
                </div>
                <div class="columns has-text-centered">
                    <div class="column desc-footer desc-footer-left">
                        <div>
                            Mana Cost
                        </div>
                        <div>
                            <span>{{card.manaCost}}</span>
                        </div>
                    </div>
                    <div class="column desc-footer desc-footer-left">
                        <div>
                            <span>Type</span>
                        </div>
                        <div>
                            <span>{{card.type}}</span>
                        </div>
                    </div>
                    <div class="column desc-footer ">
                        <div>
                            <span>Rarity</span>
                        </div>
                        <div>
                            <span>{{card.rarity}}</span>
                        </div>
                    </div>

                    <!-- Checks to see if its a planeswalker -->
                    <div *ngIf="card.types == 'Planeswalker'" class="column desc-footer">
                        <div>
                            <span>
                                Loyalty
                            </span>
                        </div>
                        <div>
                            <span>{{card.loyalty}}</span>
                        </div>
                    </div>
                    <!-- Checks to see if its a creature -->
                    <div *ngIf="card.types == 'Creature'" class="column desc-footer ">
                        <div>
                            <span>Power</span>
                        </div>
                        <div>
                            <span>{{card.power}}</span>
                        </div>
                    </div>
                    <div *ngIf="card.types == 'Creature'" class="column desc-footer ">
                        <div>
                            <span>Toughness</span>
                        </div>
                        <div>
                            <span>{{card.toughness}}</span>
                        </div>
                    </div>
                </div>
                <br>
                <p class="has-text-centered ">
                    <!-- <a class="button is-medium is-info is-outlined ">
                                    Learn more
                                </a> -->
                </p>
            </div>
        </mat-tab>
        <mat-tab label="Sets">
            <div class="column">
                {{card.printings}}
            </div>
        </mat-tab>
        <mat-tab label="Leagality">
            <h1 class="mat-display-2">Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
                Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque,
                finibus commodo lectus.</p>
        </mat-tab>
        <mat-tab label="Rulings">
            <h1 class="mat-display-2">Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
                Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque,
                finibus commodo lectus.</p>
        </mat-tab>
        <mat-tab label="Languages">
            <h1 class="mat-display-2">Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
                Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque,
                finibus commodo lectus.</p>
        </mat-tab>
    </mat-tab-group>
</div>