<div class="tabs is-boxed">
    <ul>
        <li class="is-active">
            <a>
                <span>Details</span>
            </a>
        </li>
        <li>
            <a>
                <span>Sets</span>
            </a>
        </li>
        <li>
            <a>
                <span>Leagality</span>
            </a>
        </li>
        <li>
            <a>
                <span>Rulings</span>
            </a>
        </li>
        <li>
            <a>
                <span>Languages</span>
            </a>
        </li>
    </ul>
</div>